.locationCont {
    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;
    overflow: auto;
}

.locationCont, h1 {
    padding-bottom: 5px;
    white-space: nowrap;
}

.weatherLocationCont {
    cursor: pointer;
    width: calc(100% - 20px);
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 325px;
    box-sizing: border-box;
    padding: 5px 25px 25px 25px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
}